

body{
    color:white;
 font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;

    width: 100%;
    height: 100%;

    background-color:#09080D;
}
#navbar{
    background-color:rgba(0,0,0,0);
    color:black;
   
}
nav a{
    text-decoration: none;
    color:white;
}
#logo{
    margin:auto;
    text-align: center;
    padding:20px;
}
a{

     text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
#menu{
    display:flex;
    margin-top:0.5%;
margin-right: 33%;
    margin-left: 33%;
    margin-bottom:0.5%;

}
.link{
    margin:auto;
   font-size:20px;

}
main{
   
}
footer{
      
       padding:20px;
            width: 100%; 
    text-align: center;
    

}

header{
    background-image:url("tlo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}
header #section{
    padding:9%;
    margin-top:5%;
}

#main{
 color:white;

padding:0% 3% 0% 3%;
    margin-top:2%;

    
}
#main p{
   
}
#maintext{
    text-align: center;
   margin-top:8%;
    font-size:2.5em;


}
#main h1{
    text-align: center;
}
.but{
   background-color:rgba(0,0,0,0);
    border:1px solid white;
    color:white;
     margin-left: auto;
    margin-right: auto;
  padding:2% 5% 2% 5%;
border-radius:5%;


}
.but:hover{
      background-color:white;
    border:1px solid white;
    color:black;
}

.test{

}

